@import '../ui/variables.scss';

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  gap: 100px;

  .heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h1 {
      font-weight: 800;
      color: $headingColor;
    }

    h2 {
      font-weight: 400;
    }
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

@media (orientation: landscape) and (min-width: 768px) {
  main {
    max-width: 900px;
    margin: auto;
    gap: 20px;

    .heading-wrapper {
      gap: 20px;
    }

    .input-wrapper {
      flex-direction: row;
      gap: 24px;
    }
  }
}
